canvas
{
    width:  2em;
    height: 2em;
}

#stafra_canvas
{
    width:  95vmin !important;
    height: 95vmin !important;
}

#click_rule_canvas
{
    margin-top: 2em;
    width:      2em;
    height:     2em;
}

#container
{
    display:        flex;
    flex-direction: row;
    flex-wrap:      wrap;
}

#right_part
{
    display:        flex;
    flex-direction: column;
}

#initial_state_menu
{
    display:        flex;
    flex-direction: row;
}

#control_buttons
{
  display:               grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top:            2em;
}

#initial_states
{
    height: auto;
    margin-left: 0.5em;
    width: 8em;
}

#board_input
{
    display: none;
}