#stafra_canvas
{
    width:  95vmin !important;
    height: 95vmin !important;
}

#click_rule_canvas
{
    margin-top:   2em;
    width:        100%;
    height:       auto;
    aspect-ratio: 1.0;
}

#container
{
    display:        flex;
    flex-direction: row;
    flex-wrap:      wrap;
}

#right_part
{
    display:        flex;
    flex-direction: column;
    margin-left:    1em;
}

#state_selection_menus
{
    display: grid;
}

#initial_state_menu
{
    display:               inline-grid;
    grid-template-columns: 1fr 1fr;
}

#size_menu
{
    display:               inline-grid;
    grid-template-columns: 1fr 1fr;
}

#control_buttons
{
  display:               grid;
  grid-template-columns: 2fr 2fr 2fr;
  margin-top:            2em;
}

#last_frame_checkbox_div
{
    display:        flex;
    flex-direction: row;
    margin-top:     2em;
}

#last_frame_number
{
    width:       6em;
    margin-left: auto;
}

#spawn_period_div
{
    display:        flex;
    flex-direction: row;
    margin-top:     2em;
}

#spawn_period_control_div
{
    margin-left: 1em;
}

#spawn_range
{
    width: 3em;
}

#spawn_number
{
    width: 2em;
    padding: 0;
}

#button_upload_restriction
{
    margin-top: 2em;
}

#initial_states
{
    height: auto;
    margin-left: 0.5em;
    width: 8em;
}

#sizes
{
    height: auto;
    margin-left: 0.5em;
    width: 8em;
}

#board_input
{
    display: none;
}

#restriction_input
{
    display: none;
}